{% extends "baselayout.twig" %}

{% block mainBody %}
<link rel="stylesheet" href="../assets/css/jquery-ui.css" />
<script src="../assets/js/jquery-1.9.1.js"></script>
<script src="../assets/js/jquery-ui.js"></script>
<div class="container">
	
		<h5>Booking ID: {{ bookingId }} </h5>
		<h5>Tutor Name: {{ tutorName }}</h5>
		<h5>Tutee Name: {{ tuteeName }}</h5>
		<h5>Class Booked: {{ class }} </h5>
		<h5>Booked Date: {{ date }} </h5>
		<h5>Booked Time: {{ time }} </h5>
		<h5>Amount Charged: £{{ amount }} </h5>
		<h5><select>
			  <option>VISA</option>
			  <option>MasterCard</option>
			</select>
			<input type="text" name="creditNo" id="creditNo" required />
		<div class="input-prepend">
		  <span class="add-on">Security Code</span>
		  <input class="span2" id="prependedInput" type="text">
		</div></h5>
		<button class="btn btn-success" type="button">Pay</button>
</div>
<script>
 $(document).ready(function(){
    {% if userEmail is null %}
    $('#loginInfo').hide();
    {% else %}
    $('#signInButton').hide();
    {% endif %}

  });
</script>

{% endblock %}