{% extends "baselayout.twig" %}

{% block mainBody %}
<link rel="stylesheet" href="../assets/css/jquery-ui.css" />
<script src="../assets/js/jquery-1.9.1.js"></script>
<script src="../assets/js/jquery-ui.js"></script>

<div id="wholeHtml" class="container">
	<ul id="myTab" class="nav nav-tabs">
		<li class="active">
			<a href="#personalInfo" data-toggle="tab">Personal Info</a>
		</li>
		<li class>
			<a href="#bookings" data-toggle="tab">Booked Sections</a>
		</li>
		<li class>
			<a href="#freeTime" data-toggle="tab">Free Time</a>
		</li>
	</ul>

	<div id="myTabContent" class="tab-content">

		<div class="tab-pane fade active in" id="personalInfo">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span8">
						<!--Sidebar content-->

						<form class="form-horizontal form-inline" name="userProfile" method="post">

							<!-- here is the edit and save button -->

                            <button  id='edit' class="btn btn-info"  onclick="enableInput()" type='button'>Edit</button>
                            <button  id='save' class="btn btn-success"  onclick="saveProfile()" type='button'>Save</button>

                            <!-- ^^^^^^^^^^^^^^^^^^^^ -->

							<div class="control-group">
								<h5 class="medium text-Middle span3"></h5> 
								<div class="span4">
									<img src="../assets/imgs/image1.jpg" alt="" align="left" width="250px" heigth="300px">
								</div>
							</div>

							<div class="control-group">
								<h5 class="medium text-Middle span3">FirstName</h5> 
								<input type="text" value="{{ fname }}" name="firstname" id="firstname" required />
							</div>


							<div class="control-group">
								<h5 class="medium text-Middle span3">LastName</h5> 
								<input type="text" value="{{ lname }}" name="lastname" id="lastname" required/>
							</div>

							<div class="control-group">
								<h5 class="medium text-Middle span3">Email</h5> 
								<input type="email" value="{{ email }}" name="email" id="email" required>
							</div>

							<div class="control-group">
								<h5 class="medium text-Middle span3">Gender</h5> 
								<select name="gender" id="gender" value="{{ gender }}" required>
									<option value="male">Male</option>
									<option value="female">Female</option>
								</select>
							</div>
							<div class="control-group">
								<h5 class="medium text-Middle span3">Date of Birth</h5>
								<input type="text" value="{{ dob }}" id="dOB" name="dOB" required/>
							</div><!-- End demo -->

							<div class="control-group">
								<h5 class="medium text-Middle span3">Rate Per Hour</h5>
								<input type="number" name="ratePerHour" class="span2" id="spinner" min="6" max="20" value="6" placeholder="Rate per Hour" required>
							</div>
						</div>
					</form>
					<div class="container">
						<!--Body content-->
						<div class="container">
							<h5 class="medium text-Middle">Speciality</h5></br>
							<div id='TextBoxesGroup'>
								<div id="TextBoxDiv1">
									<div class="control-group">
										<select name="speciality" id="speciality" required>
											<option value="Table Tennis">Table Tennis</option>
											<option value="Badminton">Badminton</option>
											<option value="BasketBall">BasketBall</option>
											<option value="Physics">Physics</option>
											<option value="Mathematics">Mathematics</option>
											<option value="Chinese">Chinese</option>
											<option value="French">French</option>
											<option value="Italian">Italian</option>
											<option value="Music">Music</option>
											<option value="Dancing">Dancing</option>
										</select>
									</div>
								</div>
							</div>

							<div class="container">
								<input class="btn btn-success" width="50" type='button' value='Add Button' id='addButton'>
								<input  class="btn btn-danger" width="50" type='button' value='Remove Button' id='removeButton'>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	<div class="tab-pane fade active in" id="bookings">
		<div class="container-fluid">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>BookingID</th>
						<th>Tutee Email</th>
						<th>Speciality</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{bookingId}}</td>
						<td>{{tuteeEmail}}</td>
						<td>{{speciality}}</td>
						<td>{{date}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="tab-pane fade active in" id="freeTime">
		<div class="row-fluid">
			<div id='secondTextBoxesGroup'>
				<div id="secondTextBoxDiv1">
				<input type="text" value="{{ availableDate }}" id="date" name="date" placeholder="Date" required/>
								<select name="availableTime" id="availableTime" placeholder="Available Time" required>
									<option value="9-10">9-10</option>
									<option value="10-11">10-11</option>
									<option value="11-12">11-12</option>
									<option value="12-13">12-13</option>
									<option value="13-14">13-14</option>
									<option value="14-15">14-15</option>
									<option value="15-16">15-16</option>
									<option value="16-17">16-17</option>
									<option value="17-18">17-18</option>
								</select>
							</div>
						</div>

					<div class="span4">
						
							<input class="btn btn-success" width="50" type='button' value='Add Button' id='secondAddButton'>
							<input  class="btn btn-danger" width="50" type='button' value='Remove Button' id='secondRemoveButton'>
						     
					</div>
            
	</div>
	</div>
</div>
	<script type="text/javascript">

	$('#save').hide();

	$( "#dOB" ).datepicker({
		changeMonth: true,
		changeYear: true,
		yearRange: '-63y:c+nn',
		maxDate: '-5y'
	});

	$( "#date" ).datepicker({
		changeMonth: false,
		changeYear: false,
		yearRange: '0y:c+nn',
		maxDate: '+30d'
	});



	$(document).ready(function(){

		var counter = 2;

		$("#addButton").click(function () {

			if(counter>3){
				alert("Only 3 options allowed");
				return false;
			}   

			var newTextBoxDiv = $(document.createElement('div'))
			.attr("id", 'TextBoxDiv' + counter);

			newTextBoxDiv.after().html(

			'<div class="control-group">'+
			'<select name="speciality' + counter + '" id="speciality' + counter + '" required>'+
			'<option value="Table Tennis">Table Tennis</option><option value="Badminton">Badminton</option><option value="BasketBall">BasketBall</option><option value="Physics">Physics</option><option value="Mathematics">Mathematics</option><option value="Chinese">Chinese</option><option value="French">French</option><option value="Italian">Italian</option><option value="Music">Music</option><option value="Dancing">Dancing</option></select></div>'

				
				);

			newTextBoxDiv.appendTo("#TextBoxesGroup");

			counter++;
		});

		$("#removeButton").click(function () {
			if(counter==1){
				alert("No more textbox to remove");
				return false;
			}   

			counter--;

			$("#TextBoxDiv" + counter).remove();

		});

		$("#getButtonValue").click(function () {

			var msg = '';
			for(i=1; i<counter; i++){
				msg += "\n Textbox #" + i + " : " + $('#textbox' + i).val();
			}
			alert(msg);
		});
	});


$(document).ready(function(){
	
	var counter1 = 2;

	$("#secondAddButton").click(function () {

		if(counter1>5){
			alert("Only 5 options allowed");
			return false;
		}   

		var newTextBoxDiv = $(document.createElement('div'))
		.attr("id", 'secondTextBoxDiv' + counter1);

		newTextBoxDiv.after().html(

			'<input type="text" id="date'+ counter1 +'" name="date' + counter1 + '" placeholder="Date" required/>'+'<select name="availableTime' + counter1 + '" id="availableTime' + counter1 +'" placeholder="Available Time" required>'+'<option value="one ' + counter1 +'">9-10</option><option value="two ' + counter1 +'">10-11</option><option value="three ' + counter1 +'">11-12</option><option value="four ' + counter1 +'">12-13</option><option value="five ' + counter1 +'">13-14</option><option value="six ' + counter1 +'">14-15</option><option value="seven ' + counter1 +'">15-16</option><option value="eight ' + counter1 +'">16-17</option><option value="nine ' + counter1 +'">17-18</option></select>'

			);

		newTextBoxDiv.appendTo("#secondTextBoxesGroup");

		counter1++;
	});

	$("#secondRemoveButton").click(function () {
		if(counter1==1){
			alert("No more textbox to remove");
			return false;
		}   

		counter1--;

		$("#secondTextBoxDiv" + counter1).remove();

	});

	$("#getButtonValue").click(function () {

		var msg = '';
		for(i=1; i<counter1; i++){
			msg += "\n Textbox #" + i + " : " + $('#textbox' + i).val();
		}
		alert(msg);
	});
});

</script>

<script>
  $('#wholeHtml').find('input, textarea, select').attr("disabled","disabled");

  function enableInput(){
  	$('#wholeHtml').find('input, textarea, select').removeAttr("disabled");
  	$('#edit').hide();
  	$("#save").show();
  }

  function saveProfile(){

  }


  $('#save').on('click', function(){
            $.ajax({
                type: "POST",
                url: "ajax/editUser",
                data: { 
                		fname: $('#firstname').val(),
                		lname: $('#lastname').val(),
                		dob: $('#dOB').val(),
                		email: $('#email').val(),
                		gender: $('#gender').val(),
                		ratePerHour: $('#spinner').val(), 
                		speciality: $('#speciality').val(),
                		avalabileDate: $('#date').val(),
                		availableTime: $('#availableTime').val(),
                		 },
                success: function(){

                	location.href = "/unituition/index.php/home";
                }
            });
            return false;
        });

   $(document).ready(function(){
    {% if userEmail is null %}
    $('#loginInfo').hide();
    {% else %}
    $('#signInButton').hide();
    {% endif %}

  });
</script>

{% endblock %}