{% extends "baselayout.twig" %}

{% block mainBody %}
<link rel="stylesheet" href="../assets/css/jquery-ui.css" />
<script src="../assets/js/jquery-1.9.1.js"></script>
<script src="../assets/js/jquery-ui.js"></script>

<div id="wholeHtml" class="container">
	<ul id="myTab" class="nav nav-tabs">
		<li class="active">
			<a href="#personalInfo" data-toggle="tab">Personal Info</a>
		</li>
	</ul>

	<div id="myTabContent" class="tab-content">

		<div class="tab-pane fade active in" id="personalInfo">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span8">
						<!--Sidebar content-->

						<form class="form-horizontal form-inline" name="userProfile" method="post">

							<!-- here is the edit and save button -->

                            <button  id='edit' class="btn btn-info"  onclick="enableInput()" type='button'>Edit</button>
                            <button  id='save' class="btn btn-success"  onclick="saveProfile()" type='button'>Save</button>

                            <!-- ^^^^^^^^^^^^^^^^^^^^ -->

							<div class="control-group">
								<h5 class="medium text-Middle span3"></h5> 
								<div class="span4">
									<img src="../assets/imgs/image1.jpg" alt="" align="left" width="250px" heigth="300px">
								</div>
							</div>

							<div class="control-group">
								<h5 class="medium text-Middle span3">FirstName</h5> 
								<input type="text" value="{{ fname }}" name="firstname" id="firstname" required />
							</div>


							<div class="control-group">
								<h5 class="medium text-Middle span3">LastName</h5> 
								<input type="text" value="{{ lname }}" name="lastname" id="lastname" required/>
							</div>

							<div class="control-group">
								<h5 class="medium text-Middle span3">Email</h5> 
								<input type="email" value="{{ email }}" name="email" id="email" required>
							</div>

							<div class="control-group">
								<h5 class="medium text-Middle span3">Gender</h5> 
								<select name="gender" id="gender" value="{{ gender }}" required>
									<option value="male">Male</option>
									<option value="female">Female</option>
								</select>
							</div>
							<div class="control-group">
								<h5 class="medium text-Middle span3">Date of Birth</h5>
								<input type="text" value="{{ dob }}" id="dOB" name="dOB" required/>
							</div><!-- End demo -->
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
	</div>
</div>
	<script type="text/javascript">

	$('#save').hide();

	$( "#dOB" ).datepicker({
		changeMonth: true,
		changeYear: true,
		yearRange: '-63y:c+nn',
		maxDate: '-5y'
	});

</script>

<script>
  $('#wholeHtml').find('input, textarea, select').attr("disabled","disabled");

  function enableInput(){
  	$('#wholeHtml').find('input, textarea, select').removeAttr("disabled");
  	$('#edit').hide();
  	$("#save").show();
  }

  function saveProfile(){

  }


  $('#save').on('click', function(){
            $.ajax({
                type: "POST",
                url: "ajax/editTutee",
                data: { 
                		fname: $('#firstname').val(),
                		lname: $('#lastname').val(),
                		dob: $('#dOB').val(),
                		email: $('#email').val(),
                		gender: $('#gender').val(),
                		 },
                success: function(){

                	location.href = "/unituition/index.php/home";
                }
            });
            return false;
        });

   $(document).ready(function(){
    {% if userEmail is null %}
    $('#loginInfo').hide();
    {% else %}
    $('#signInButton').hide();
    {% endif %}

  });
</script>

{% endblock %}