<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>UniTuition</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	<link href="../assets/css/bootstrap.css" rel="stylesheet">
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
<!--   <link href="../assets/css/style.css" rel="stylesheet"> -->
  <style type="text/css">
  body {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  </style>
  <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
      <![endif]-->

      <!-- Fav and touch icons -->
      <link rel="apple-touch-icon-precomposed" sizes="144x144"
      href="assets/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114"
      href="assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72"
      href="assets/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed"
      href="assets/ico/apple-touch-icon-57-precomposed.png">
      <link rel="shortcut icon" href="assets/ico/favicon.png">
    </head>

    <body>

      <div class="container">

        <div class="row span12" style="color: #000000">

          <div class="container span3">
             <img src="../assets/imgs/Logo.jpg" alt="">
           </br>
          </div>

          <div class="container span8">
            <div class="container span3">
              <h3>UNI-TUITION</h3>
            </div>
            <div id="loginInfo" class="container span5">
              <h5>Welcome {{ userEmail }}
              <a class="btn btn-primary" href="../index.php/authentication/logout">Logout</h5></a>
            </div>
             <div id="signInButton" class="container span5 offset5">
              <a id="btnSignIn" class="btn btn-primary text-Middle offset5">SignIn</a>
            </div>
          </div>

        </div>
          <hr>
          <hr>
        <div class="row-fluid span12">
          <div class="container span2">
          <div id="sidebar" class="sidebar-nav">
            <ul class="nav nav-tabs nav-stacked">
              <li class="nav-menu"><a href="../index.php/home"><h4>Home</h4></a></li>
              <li class="nav-menu"><a href="../index.php/tutorsearch"><h4>Find Tutor</h4></a></li>
              <li class="nav-menu"><a href="../index.php/profilePage"><h4>Profile</h4></a></li>
            </ul>
          </div>
          </div>

          <div class="container span10">
            {% block mainBody %}
            <!-- Main hero unit for a primary marketing message or call to action -->
            {% endblock %}
          </div>

        </div>

      </div>
      <!-- /container -->
      <div id="signInModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="SignIn" align="center">Sign In</h2>
  </div>
  <div class="modal-body">
    <div>
      <h3 align="center">Tutees</h3>
      <a class="" style="margin-left:70px" href="https://pds-login.ncl.ac.uk/api/login/google2/auth?token_url=http%3A%2F%2Flocalhost%2Funituition%2Findex.php%2Fauthentication%2FfederatedLogin&flow_type=redirect"><img class="loginImage" src="../assets/imgs/Login/NonStudents/google.png"/></a>

      <a href="https://pds-login.ncl.ac.uk/api/login/facebook/auth?token_url=http%3A%2F%2Flocalhost%2Funituition%2Findex.php%2Fauthentication%2FfederatedLogin&flow_type=redirect"><img class="loginImage" src="../assets/imgs/Login/NonStudents/facebook.png"/></a>

      <a href="https://pds-login.ncl.ac.uk/api/login/windows/auth?token_url=http%3A%2F%2Flocalhost%2Funituition%2Findex.php%2Fauthentication%2FfederatedLogin&flow_type=redirect"><img class="loginImage" src="../assets/imgs/Login/NonStudents/windows.png"/></a>

      <hr>

      <h3 align="center">Tutors</h3>
      <a class="" style="margin-left:170px" href="https://pds-login.ncl.ac.uk/api/login/shibboleth/auth?token_url=http%3A%2F%2Flocalhost%2Funituition%2Findex.php%2Fauthentication%2FfederatedLogin&flow_type=redirect"><img class="loginNCLImage" src="../assets/imgs/Login/Students/ncl.png"/></a>

    </div>
    <hr>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
  <script src="../assets/js/jquery.js"></script>
  <script src="../assets/js/bootstrap.js"></script>
  <script src="../assets/js/bootstrap-transition.js"></script>
  <script src="../assets/js/bootstrap-alert.js"></script>
  <script src="../assets/js/bootstrap-modal.js"></script>
  <script src="../assets/js/bootstrap-dropdown.js"></script>
  <script src="../assets/js/bootstrap-scrollspy.js"></script>
  <script src="../assets/js/bootstrap-tab.js"></script>
  <script src="../assets/js/bootstrap-tooltip.js"></script>
  <script src="../assets/js/bootstrap-popover.js"></script>
  <script src="../assets/js/bootstrap-button.js"></script>
  <script src="../assets/js/bootstrap-collapse.js"></script>
  <script src="../assets/js/bootstrap-carousel.js"></script>
  <script src="../assets/js/bootstrap-typeahead.js"></script>
  <script src="../assets/js/cityview.js"></script>


  <script>
  !function ($) {
    $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
  }(window.jQuery)

  $('#btnSignIn').on('click', function(){
    $('#signInModal').modal('show')
  });
  </script>

  <script type="text/javascript">
  $(document).ready(function(){
    {% if userEmail is null %}
    $('#loginInfo').hide();
    {% else %}
    $('#signInButton').hide();
    {% endif %}

  });

  </script>

</body>
</html>
