
{% extends "baselayout.twig" %}
{% block tutorinfo %}

  <table cellspacing="1" cellpadding="0" border="0" bgcolor="black" id="shell" height="250" width="400">
    
    <tr height="200">
      <td bgcolor="white">
        <table title="Content" id="content" border="0" height="250" width="380">
          <tr><td>
            <div class="container-fluid">
              <div class="row">           
                <div class="span4">
                    <img src="../assets/imgs/image1.jpg" alt="" align="left" width="250px" heigth="300px">
                </div>

                <div class="span5" align="left" style="padding-left:20px;">
                  <div class="row">
                    <h5>Name
                    <lable>{{name}}</lable></h5>
                  </div>

                  <div class="row">
                    <h5>Email
                    <lable>{{email}}</lable></h5>
                  </div>

                  <div class="row">
                    <h5>Gender
                    <lable>{{gender}}</lable></h5>
                  </div>
                </div>
              </div>
            </div> 

            <div align="left">
              <h5>Rating{{rating}} 
                <span> ☆</span></h5>
            </div>
          </br>
          </br>
            <div align="middle" >
              <button id="avaiableTime" class="btn btn-large btn-block btn-primary span2" type="button" style="position:absolute;top:220;"><font size="3">Availiable Time</font></button>
            </div>

          </td></tr>
        </table>
      </td>

      <td bgcolor="white">
        <table id="navigation" title="Navigation" border="0" height="250" width="100" class="table table-hover">
          <tr><td><h5>Specialist</h5></td></tr>
          <tr><td></td></tr>
          <tr><td></td></tr>
        </table>
      </td>
    </tr>
  </table> 

  <div id="bookingTime" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="title">Booking</h3>
  </div>
  <div class="modal-body">
    <p>Tutor Name: {{tutorname}}</p>
    <div class="control-group info">
      <label class="control-label" for="selectSpeciality">Speciality: </label>
      <div class="controls">
        <select id="selectSpeciality">
          <option>{{speciality}}</option>
        </select>
      </div>
    </div>

    <div>
      <lable>Available Time: </lable>
      <table class="table table-bordered table-striped">
            <colgroup>
              <col class="span1">
              <col class="span7">
            </colgroup>
            <tbody>
              <tr>
                <td>
                  <code>{{day}}</code>
                </td>
                <td><a href="">{{time}}</a></td>
              </tr>
            </tbody>
          </table>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-primary">Book</button>
  </div>
</div>

{% endblock %}

  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../assets/js/jquery.js"></script>
  <script src="../assets/js/bootstrap.js"></script>
  <script src="../assets/js/bootstrap-transition.js"></script>
  <script src="../assets/js/bootstrap-alert.js"></script>
  <script src="../assets/js/bootstrap-modal.js"></script>
  <script src="../assets/js/bootstrap-dropdown.js"></script>
  <script src="../assets/js/bootstrap-scrollspy.js"></script>
  <script src="../assets/js/bootstrap-tab.js"></script>
  <script src="../assets/js/bootstrap-tooltip.js"></script>
  <script src="../assets/js/bootstrap-popover.js"></script>
  <script src="../assets/js/bootstrap-button.js"></script>
  <script src="../assets/js/bootstrap-collapse.js"></script>
  <script src="../assets/js/bootstrap-carousel.js"></script>
  <script src="../assets/js/bootstrap-typeahead.js"></script>
  <script src="../assets/js/cityview.js"></script>

<script type="text/javascript">
    document
            .write(unescape("%3Cscript src='https://login.idfederate.com/static/js/connect.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script>
    $('#avaiableTime').on('click', function(){
    $('#bookingTime').modal('show')
  });
</script>


