{% extends "baselayout.twig" %}

{% block mainBody %}
<link rel="stylesheet" href="../assets/css/jquery-ui.css" />
<script src="../assets/js/jquery-1.9.1.js"></script>
<script src="../assets/js/jquery-ui.js"></script>
	<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../assets/imgs/Tuition.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h2>Introduction</h2>
              <p class="lead">This is a web platform for secondary school students to find affordable tution by the means of university undergraduate or post-graduate students.</p></br>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../assets/imgs/Tutors2.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h2>Find Tutors</h2>
              <p class="lead">This system helps students to find tutors who match there requirement either by finding through an email or by a specialization.</p></br>
              <a class="btn btn-medium btn-primary" href="../index.php/tutorsearch">Find Tutor</a>
            </div>
          </div>
        </div>
      </div>
     	<a class="carousel-control left" href="#myCarousel"	data-slide="prev">&lsaquo;</a> 
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <script>
     $(document).ready(function(){
    {% if userEmail is null %}
    $('#loginInfo').hide();
    {% else %}
    $('#signInButton').hide();
    {% endif %}

  });
    </script>
{% endblock %}
