{% extends "baselayout.twig" %}

{% block mainBody %}
<link rel="stylesheet" href="../assets/css/jquery-ui.css" />
<script src="../assets/js/jquery-1.9.1.js"></script>
<script src="../assets/js/jquery-ui.js"></script>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Sport</a></li>
    <li><a href="#tab2" data-toggle="tab">Subject</a></li>
    <li><a href="#tab3" data-toggle="tab">Language</a></li>
    <li><a href="#tab4" data-toggle="tab">Arts</a></li>
    <li><a href="#tab5" data-toggle="tab">Email</a></li>
  </ul>
  <div class="tab-content alert alert-info">
<!--
tab1
-->
    <div class="tab-pane active" id="tab1">
      <a href="../index.php/ajax/getTutors?catId={{ ttID }}" data-toggle="tooltip" data-placement="bottom" title="Tabletennis" data-original-title="Tooltip on bottom"> 
      	<img src="../assets/imgs/tutorsearch/tabletennis.png" class="circleimg img-circle" width="60px"> 
      </a> 

      <a href="../index.php/ajax/getTutors?catId={{ badmintonID }}" data-toggle="tooltip" data-placement="bottom" title="Badminton" data-original-title="Tooltip on bottom"> 
      	<img src="../assets/imgs/tutorsearch/badminton.png" class="circleimg img-circle" width="60px"> 
      </a> 
      
      <a href="../index.php/ajax/getTutors?catId={{ basketBallID }}" data-toggle="tooltip" data-placement="bottom" title="Basketball" data-original-title="Tooltip on bottom"> 
      	<img src="../assets/imgs/tutorsearch/basketball.png" class="circleimg img-circle" width="60px"> 
      </a>
    </div>
<!--
tab2
-->
    <div class="tab-pane" id="tab2">
      <a href="../index.php/ajax/getTutors?catId={{ phyID }}" data-toggle="tooltip" data-placement="bottom" title="Physics" data-original-title="Tooltip on bottom"> 
      	<img src="../assets/imgs/tutorsearch/physics.png" class="circleimg img-circle" width="60px"> 
      </a> 

      <a href="../index.php/ajax/getTutors?catId={{ mthID }}" data-toggle="tooltip" data-placement="bottom" title="Maths" data-original-title="Tooltip on bottom"> 
      	<img src="../assets/imgs/tutorsearch/maths.png" class="circleimg img-circle" width="60px"> 
      </a> 
  </div>
<!--
tab3
--> 
    <div class="tab-pane" id="tab3">
      <a href="../index.php/ajax/getTutors?catId={{ chiID }}" data-toggle="tooltip" data-placement="bottom" title="Chinese" data-original-title="Tooltip on bottom"> 
      	<img src="../assets/imgs/tutorsearch/chinese.png" class="circleimg img-circle" width="60px"> 
      </a> 
      
      <a href="../index.php/ajax/getTutors?catId={{ frenchID }}" data-toggle="tooltip" data-placement="bottom" title="French" data-original-title="Tooltip on bottom"> 
      	<img src="../assets/imgs/tutorsearch/french.jpg" class="circleimg img-circle" width="60px"> 
      </a> 
  </div>

<!--
tab4
-->
    <div class="tab-pane" id="tab4">
      <a href="../index.php/ajax/getTutors?catId={{ musicID }}" data-toggle="tooltip" data-placement="bottom" title="Music" data-original-title="Tooltip on bottom"> 
      	<img src="../assets/imgs/tutorsearch/music.png" class="circleimg img-circle" width="60px"> 
      </a> 
      
      <a href="../index.php/ajax/getTutors?catId={{ danceID }}" data-toggle="tooltip" data-placement="bottom" title="Dancing" data-original-title="Tooltip on bottom"> 
      	<img src="../assets/imgs/tutorsearch/dancing.png" class="circleimg img-circle" width="60px"> 
      </a> 
  </div>

<!--
tab5
-->
   <div class="tab-pane" id="tab5">
	 <form class="form-search" method="post" action="../index.php/ajax/getTutors">
	  <input id="email" name="email" type="email" class="input-medium search-query">
	  <button type="submit" class="btn">Search</button>
	</form>
  </div>

  </div>
</div>

<!--

here shows the tutor information
-->
<div id="tutorInfo" class="container" hidden="true">
            <div class="container-fluid">
              <div class="row">           
                <div class="span3">
                    <img src="../assets/imgs/image1.jpg" alt="" align="left" width="200px" heigth="250px">
                </div>
                <div class="span5" align="left" style="padding-left:20px;">
                    <h5>Name : {{ name }}</h5>
                    <h5>Email : {{ email }}</h5>
                    <h5>Gender : {{ gender }}</h5>
                    <h5>Rating : {{ rating }} 
                    <span> ☆</span></h5>
                     <h5>Specialist in : {{ specialities }}</h5>
                    <a href="#payModal" id="avaiableTime" class="btn btn-large btn-block btn-primary span2" type="button" style="position:absolute;top:220;">Available Time</a>
                </div>
              </div>
</div>
</div>

<!-- Modal -->
<div id="payModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Booking</h3>
  </div>
  <div class="modal-body">
    <h5>Class: {{ specialities }}</h5>
    <h5>Date: {{ date }}</h5>
    <h5>Time: {{ time }}</h5>
  </div>

  <div class="modal-footer">
    <form method="post" action="../index.php/payment">
       <input id="email" name="email" value="{{ email }}" type="hidden">
       <input id="class" name="class" value="{{ specialities }}" type="hidden">
       <input id="date" name="date" value="{{ date }}" type="hidden">
       <input id="time" name="time" value="{{ time }}" type="hidden">
     <button class="btn btn-large btn-primary" hidden="true" id="btnSubmit" type="submit">Book</button>
  </form>
  </div>
</div>

<script>
    {% if name is empty %}
    $('#tutorInfo').hide();
    {% else %}
    $('#tutorInfo').show();
    {% endif %}

    $('#avaiableTime').on('click', function(){
    $('#payModal').modal('show')
  });

</script>


{% endblock %}